ul {
  padding: 0;
  width: 33.33%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
li {
  width: 100%;
  border-bottom: 1px dashed #ddd;
}
li:last-child{
  border:none;
}
li a {
  display: block;
  padding: 0 20px;
  font-size: 18px;
  line-height: 50px;
  color: #333;
  
  .url {
    font-size:14px;
    color:#666;
  }
  &:hover{
    background:#f1f1f1;
  }
}